:root {
  /* --primary: #1aac83; */
  --error: #e7195a;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}


.recipe-details {
  font-family: Arial, sans-serif;
}

/* Styles for the container to center the form */
.create-recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles to center the form */
.create-recipe {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #666;
}

input[type="text"],
textarea,
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

button[type="button"]
 button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="button"] {
  background-color: #666;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #555;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

footerStyle {
  background-color: '#f2f2f2';
  text-align: 'center';
  padding: '10px';
  position: 'absolute';
  bottom: '0';
  width: '100%';
};

/* Responsive styles */
@media screen and (max-width: 768px) {
  .create-recipe {
    padding: 20px;
  }
}


/* Adjust styles for small screens */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .footerStyle {
    position: 'relative';
    margin-top: '2rem';
  }
}
